/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* MY CODE */

*{
  text-decoration: none;
}

body{
  background-color: #f3f3f3;
}

header{
  width: 100%;
  height: 100px;
  background-color: white;
}

header .header-br{
  font-family: Catamaran;
  font-size: 24px;
  color: black;
  font-weight: 900;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}


header nav ul{
margin: 0 auto;
display: block;
width: fit-content;
}

header nav ul li{
  display: inline-block;
  float: left;
  list-style: none;
  /*padding: 0 30px;*/
  position: relative;
}

header nav ul li a{
  display: block;
  font-family: Catamaran;
  font-size: 23px;
  color: black;
  font-weight: 300;
}

header nav ul li ul{
  display: none;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  position: absolute;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
}

header nav ul li:hover ul{
  display: inline-block;
}

header nav ul li ul li{
  border-radius: 4px;
}

header nav ul li ul li a{
  padding: 10px 1px;
  text-align: 0 auto;
  display: block;
}

header nav ul li ul li a:hover{
  color: #696969;
}

.index-links:hover{
  color: #696969;
}

.index-links{
  padding: 0 30px;
}

.index-link:hover{
  color: white;
}

.index-banner {
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url('DBnotext.jpg');
  background-position: center;
  background-size: cover;
}

.index-banner h3{
  color: white;
  font-family: Catamaran;
  font-size: 85px;
  text-align: center;
  padding-top:10vh; /*50px;*/
}

.index-banner h2{
  color: white;
  font-family: Catamaran;
  font-size: 100px;
  text-align: center;
  padding-bottom: 10vh;/*50px;*/
}

.index-banner h1{
  color: white;
  font-family: Catamaran;
  font-size: 50px;
  text-align: center;
  font-weight: 300;
}

.index-banner p{
  color: white;
  font-family: Catamaran;
  font-size: 20px;
  text-align: center;
  font-weight: 300;
  padding: 40px;
}

.index-banner a{
  color: #eee;
  font-family: Catamaran;
  font-size: 25px;
  font-weight: 300;
  font-style: italic;
}

/*stores*/
.stores-sections div{
  margin: 20px 100px;
  width: calc(100% - 200px);
  height: 200px;
  color: white;
}

.stores-boxlink-1{
  background-image: url(c1.jpg);
  background-size: cover;
  background-position: 0 -150px;
}
.stores-boxlink-1:hover{
  background-image: url(c1.jpg);
  background-size: 120%;
  background-position: 0 -140px;
}
.stores-boxlink-2:hover{
  background-image: url(c2.jpg);
  background-size: 120%;
  background-position: 0 -260px;
}
.stores-boxlink-3:hover{
  background-image: url(c3.jpg);
  background-size: 120%;
  background-position: 0 -240px;
}
.stores-boxlink-2{
  background-image: url(c2.jpg);
  background-size: cover;
  background-position: 0 -270px;
}
.stores-boxlink-3{
  background-image: url(c3.jpg);
  background-size: cover;
  background-position: 0 -250px;
}
.stores-boxlink-4{
  background-image: url(c4.jpg);
  background-size: cover;
  background-position: 0 -250px;
}
.stores-boxlink-4:hover{
  background-image: url(c4.jpg);
  background-size: 120%;
  background-position: 0 -240px;
}
.stores-boxlink-5{
  background-image: url(c5.jpg);
  background-size: cover;
  background-position: 0 -250px;
}
.stores-boxlink-5:hover{
  background-image: url(c5.jpg);
  background-size: 120%;
  background-position: 0 -240px;
}
.stores-boxlink-6{
  background-image: url(c6.jpg);
  background-size: cover;
  background-position: 0 -60px;
}
.stores-boxlink-6:hover{
  background-image: url(c6.jpg);
  background-size: 120%;
  background-position: 0 -100px;
}




.stores-sections div h3{
font-family: Catamaran;
font-size: 35px;
text-align: center;
padding-top: 50px;
text-shadow: 2px 2px 8px #111;
}

/*athens*/

.athens-sections div{
  margin: 20px 100px;
  width: calc(100% - 200px);
  height: 200px;
  color: white;
}

.athens-boxlink-1{
  background-image: url(m1.jpg);
  background-size: cover;
  background-position: 0 -60px;
}
.athens-boxlink-1:hover{
  background-image: url(m1.jpg);
  background-size: 120%;
  background-position: 0 -100px;
}
.athens-boxlink-2:hover{
  background-image: url(m2.jpg);
  background-size: 120%;
  background-position: 0 -100px;
}
.athens-boxlink-3:hover{
  background-image: url(m3.jpg);
  background-size: 120%;
  background-position: 0 -100px;
}
.athens-boxlink-2{
  background-image: url(m2.jpg);
  background-size: cover;
  background-position: 0 -60px;
}
.athens-boxlink-3{
  background-image: url(m3.jpg);
  background-size: cover;
  background-position: 0 -60px;
}

.athens-sections div h3{
font-family: Catamaran;
font-size: 35px;
text-align: center;
padding-top: 50px;
text-shadow: 2px 2px 8px #111;
}

/*xanthi*/
.xanthi-sections div{
  margin: 20px 100px;
  width: calc(100% - 200px);
  height: 200px;
  color: white;
}

.xanthi-boxlink-1{
  background-image: url(m1.jpg);
  background-size: cover;
  background-position: 0 -60px;
}
.xanthi-boxlink-1:hover{
  background-image: url(m1.jpg);
  background-size: 120%;
  background-position: 0 -100px;
}
.xanthi-boxlink-2:hover{
  background-image: url(m2.jpg);
  background-size: 120%;
  background-position: 0 -100px;
}

.xanthi-boxlink-2{
  background-image: url(m2.jpg);
  background-size: cover;
  background-position: 0 -60px;
}


.xanthi-sections div h3{
font-family: Catamaran;
font-size: 35px;
text-align: center;
padding-top: 50px;
text-shadow: 2px 2px 8px #111;
}

/*nafplio*/

.nafplio-sections div{
  margin: 20px 100px;
  width: calc(100% - 200px);
  height: 200px;
  color: white;
}

.nafplio-boxlink-1{
  background-image: url(m1.jpg);
  background-size: cover;
  background-position: 0 -60px;
}
.nafplio-boxlink-1:hover{
  background-image: url(m1.jpg);
  background-size: 120%;
  background-position: 0 -100px;
}
.nafplio-boxlink-2:hover{
  background-image: url(m2.jpg);
  background-size: 120%;
  background-position: 0 -100px;
}

.nafplio-boxlink-2{
  background-image: url(m2.jpg);
  background-size: cover;
  background-position: 0 -60px;
}


.nafplio-sections div h3{
font-family: Catamaran;
font-size: 35px;
text-align: center;
padding-top: 50px;
text-shadow: 2px 2px 8px #111;
}

 /*products*/
.products-sections div{
  margin: 20px 100px;
  width: calc(100% - 200px);
  height: 200px;
  color: white;
}

.products-boxlink-1{
  background-image: url(1p.png);
  background-size: cover;
  background-position: 0 -250px;
}
.products-boxlink-1:hover{
  background-image: url(1p.png);
  background-size: 120%;
  background-position: 0 -240px;
}
.products-boxlink-2:hover{
  background-image: url(2p.png);
  background-size: 120%;
  background-position: 0 -260px;
}

.products-boxlink-2{
  background-image: url(2p.png);
  background-size: cover;
  background-position: 0 -270px;
}
.products-boxlink-3{
  background-image: url(3p.png);
  background-size: cover;
  background-position: 0 -60px;
}

.products-boxlink-3:hover{
  background-image: url(3p.png);
  background-size: 120%;
  background-position: 0 -50px;
}

.products-boxlink-4{
  background-image: url(4p.png);
  background-size: cover;
  background-position: 0 -250px;
}
.products-boxlink-4:hover{
  background-image: url(4p.png);
  background-size: 120%;
  background-position: 0 -240px;
}
.products-boxlink-5{
  background-image: url(5p.png);
  background-size: cover;
  background-position: 0 -450px;
}
.products-boxlink-5:hover{
  background-image: url(5p.png);
  background-size: 120%;
  background-position: 0 -440px;
}
.products-boxlink-6{
  background-image: url(6p.png);
  background-size: cover;
  background-position: 0 -60px;
}
.products-boxlink-6:hover{
  background-image: url(6p.png);
  background-size: 120%;
  background-position: 0 -100px;
}

.products-boxlink-7{
  background-image: url(7p.png);
  background-size: cover;
  background-position: 0 -60px;
}
.products-boxlink-7:hover{
  background-image: url(7p.png);
  background-size: 120%;
  background-position: 0 -100px;
}

.products-sections div h3{
font-family: Catamaran;
font-size: 35px;
text-align: center;
padding-top: 50px;
text-shadow: 2px 2px 8px #111;
}

table{
  width: 400px;
  font-family: Catamaran;
  position: relative;
  background-color: white;
  font-size: 17px;
  z-index: -1;
}

th{
  text-align: left;
}

table, th, td{
  border: 1px solid #000;
  border-collapse: collapse;
}

th, td{
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

table.transactions{
  margin-left: auto;
  margin-right: auto;
  margin-top: -400px
}

table.all-center{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

form label{
  padding-right: 5px;
}

.all-forms{
  padding-top: 20px;
}

.all-elements{
  padding: 15px;
}

.mylabel{
    padding-left: 5px;
    margin-top: 10px;
}